page-login {
	
	#item-1 {
		margin-bottom: 1em;
	}

	#item-2 {
		margin-bottom: 2em;
	}

	.input-cover {
		border-style: groove;
	}

	#btncenter {
		text-align: center;
	}

	#btncenter button {
		font-size: 1.7em;
		background: #065cd1;
	}

	#recurso-1 {
		 margin-top: -26px;
	}

	#grid {
		text-align: -webkit-center;
		margin-bottom: 4em;
	}		

}
