<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

	<ion-grid id="grid" >
	  <ion-row id="recurso-1">
	    <ion-col col-12>
	    	<ion-thumbnail item-start>
		      <img  src="assets/imgs/login/recurso-1.png" alt="logo_expotext">
		    </ion-thumbnail>
	    </ion-col>
	  </ion-row>

	  <ion-row id="recurso-2">
	    <ion-col col-12>
	    	<ion-thumbnail item-start>
		      <img src="assets/imgs/login/recurso-2.png" alt="logo">
		    </ion-thumbnail>
	    </ion-col>
	  </ion-row>
	</ion-grid>

	<label id="label-error" [hidden]="!errorMessage">{{errorMessage}}</label>

	<form padding [formGroup]="loginForm">

       <ion-item id="item-1">
        <ion-input [formControl]="email" class="input" type="email" placeholder="Email" ></ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty" >
          <p id="form-text-err" *ngIf="loginForm.get('email').hasError('required')">* campo es requerido</p>
          <p id="form-text-err" *ngIf="loginForm.get('email').hasError('email')">* email no valido (ej. raul@raul.com)</p>
      </div>
      <ion-item id="item-2"> 
        <ion-input [formControl]="password" class="input" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
       <div *ngIf="loginForm.get('password').errors && loginForm.get('password').dirty" >
          <p id="form-text-err" *ngIf="loginForm.get('password').hasError('required')">* campo es requerido</p>
      </div>
      <div id="btncenter">
        <button ion-button type="submit" [disabled]="!loginForm.valid" (click)="login()" >INGRESAR</button>
        <!--<p> {{err.error}}</p>-->
      </div>
    </form>
    <div text-center>
    	<button ion-button full outline (click)="goRegisterPage()">No tienes cuenta? Registrate</button>
    </div>


</ion-content>



