$text-input-highlight-color-valid : #32db64;
$text-input-placeholder-color : #999;
$text-input-highlight-color-invalid: 	#f53d3d;
page-login {

  //.input-cover  {
  //  border-bottom-left-radius: 2.2rem;
  //  border-bottom-right-radius: 2.2rem;
  //  border-top-left-radius: 2.2rem;
  //  border-top-right-radius: 2.2rem;
  //}

	#item-1 {
		margin-bottom: 1em;
	}

	#item-2 {
		margin-bottom: 2em;
	}

	.input-cover {
		border-style: groove;
	}

	#btncenter {
		text-align: center;
	}

	#btncenter button {
		font-size: 1.7em;
		background: #065cd1;
	}

	#recurso-1 {
		 margin-top: -26px;
	}

	#grid {
		text-align: -webkit-center;
		margin-bottom: 4em;
	}

	#label-error {
		margin-left: 17px;
	    /* background-color: darkblue; */
	    color: red;
	    font-family: cursive;
	    font-size: larger;
	}

	#form-text-err{
     color: #e6a2a2;
     padding-left: 26px;
   }


}
