page-contactos {
    
    #content-primary, #content-secondary {
    
    }

    .item-expositor{
      color: #207cca;
    }

    #title-1{
    	color: #207cca;
    	font-family: cursive;
    }

    #msg{      
      text-align: center;
      color: #4473c6;
    }


}
