page-tabs {


  .tabs-md .tabbar {
    background: rgb(46,118,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(46,118,234,1) 0%, rgba(44,105,211,1) 36%, rgba(30,53,158,1) 74%, rgba(24,31,124,1) 100%, rgba(125,185,232,1) 100%, rgba(32,124,202,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(46,118,234,1) 0%,rgba(44,105,211,1) 36%,rgba(30,53,158,1) 74%,rgba(24,31,124,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(46,118,234,1) 0%,rgba(44,105,211,1) 36%,rgba(30,53,158,1) 74%,rgba(24,31,124,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e76ea', endColorstr='#207cca',GradientType=0 ); 
  }	

  .tab-button-icon {
  	color: white;
  }	



      
}
