page-home {

  #content-main{
     background-color: black;
  }

  #content-main #section-2 {
     
  }

  #content-main #section-3 {
      margin-top: 15px;
  }   

  #text{
     color:rgb(46,118,234);
     font-family: cursive;
   }
  


}
