page-perfil-contacto {

	 .text-p{
	    border-bottom-style: groove;
	    color: #2e76ea;
	    border-bottom-color: #becbe2;
	  }

	  .text-label{
	    color: #207cca;
	    font-style: oblique;
	    font-size: larger;

	  }

     #titulo{
	    color: #2e76ea; 
	  }

	  .color-xpotex{
	    color: #207cca;
	  }

	   #icon-atras{
	    font-size: xx-large;
    	color: #207cca;
	  }







}
