page-registro {

  #content-registro, .toolbar-background {
	  background: #065cd1;
  }

  #section-logo{
  }

   #form-text{
     color: white;
     text-align: center;
     font-family: cursive;
     font-size: 15px;

   }

  .itemForm{
	  margin-bottom: 1em;
  }

  #btnForm{
	  color: #1a58c5;
    font-size: 1.7em;
    background-color: white;
    font-family: cursive;
  }

  #form-text-err{
     color: #e6a2a2;
     padding-left: 26px;
   }


      
}
