page-registro {

  #content-registro, .toolbar-background {
	  background: #065cd1;
  }

  #section-logo{
  }

  .item{
	  margin-bottom: 1em;
  }

  #btn{
	color: #1a58c5;
    font-size: 1.7em;
    background-color: white;
    font-family: cursive;
  }
}
