page-expositores {

  
   #logo-expositor {
     width: 85px;
     height: 85px;
  }

  .label {
    border-left-style: solid;
    padding-left: 15px;
  }

  .item-expositor {
     color: #306ed2;
  }

  .item-expositor p{
    color: #6b91d0;
  }

  #title-1{
      color: #207cca;
      font-family: cursive;
    }



  


}
