page-menu {

  #content-menu{
	background: rgb(46,118,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(46,118,234,1) 0%, rgba(44,105,211,1) 36%, rgba(30,53,158,1) 74%, rgba(24,31,124,1) 100%, rgba(125,185,232,1) 100%, rgba(32,124,202,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(46,118,234,1) 0%,rgba(44,105,211,1) 36%,rgba(30,53,158,1) 74%,rgba(24,31,124,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(46,118,234,1) 0%,rgba(44,105,211,1) 36%,rgba(30,53,158,1) 74%,rgba(24,31,124,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e76ea', endColorstr='#207cca',GradientType=0 ); 
  }

  #header{
	  background: rgb(46,118,234); /* Old browsers */
	  background: -moz-linear-gradient(top, rgba(46,118,234,1) 0%, rgba(44,105,211,1) 36%, rgba(30,53,158,1) 74%, rgba(24,31,124,1) 100%, rgba(125,185,232,1) 100%, rgba(32,124,202,1) 100%); /* FF3.6-15 */
	  background: -webkit-linear-gradient(top, rgba(46,118,234,1) 0%,rgba(44,105,211,1) 36%,rgba(30,53,158,1) 74%,rgba(24,31,124,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* Chrome10-25,Safari5.1-6 */
	  background: linear-gradient(to bottom, rgba(46,118,234,1) 0%,rgba(44,105,211,1) 36%,rgba(30,53,158,1) 74%,rgba(24,31,124,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e76ea', endColorstr='#207cca',GradientType=0 ); 
  }

  #section-1 {
    background-color: white;
    margin-top: -2.7em;
    width: 110%;
    margin-left: -5%;
    padding-bottom: 13px;
    margin-bottom: 14px;
  }

  #col-perfil {
    text-align: -webkit-right;
  }

  #img-perfil {
     padding-top: 14px;
     margin-right: 10px;
  }

  #section-2 .col{
    text-align: -webkit-center;
  }

  #text {
    color: #295298;
    font-family: fantasy;
    font-size: 1.2em;
  }

     




}
